h1 {
    text-align: center;
    font-size: 56pt;
}

.round {
    text-align: center;
    padding: 10px;
    font-size: 32pt;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

img {
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para2,
.para1 {
    text-align: center;
    font-size: 20pt;
    min-width: 390px;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.player,
.computer {
    padding: 20px 0;
    font-size: 20pt;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
}

.playerChoice,
.computerChoice {
    font-size: 20px;
}

.playerChoiceImage,
.computerChoiceImage {
    width: 100px;
    height: 100px;
}